# Range in Python

In [7]:
a = range(3)
a

range(0, 3)

In [12]:
for i in range(10):
    print(i, end='\t')

0	1	2	3	4	5	6	7	8	9

In [13]:
for i in range(10,30,2):
    print(i, end='\t')

10	12	14	16	18	20	22	24	26	28

In [14]:
sum(range(10,30,2))

190

In [15]:
for i in range(10,0,-3):
    print(i, end='\t')

10	7	4	1

# Creating a Dictionary

In [19]:
student = {
    "name" : "Rahim",
    "age" : 20,
    "city": "Dhaka"
}
print(student)

{'name': 'Rahim', 'age': 20, 'city': 'Dhaka'}

In [20]:
# Accessing values
print(student["name"])

Rahim

In [21]:
print(student["age"])

20

In [22]:
# Adding a new key-value pair
student["gpa"] = 4.5
print(student)

{'name': 'Rahim', 'age': 20, 'city': 'Dhaka', 'gpa': 4.5}

In [23]:
# Modifing a value
student["age"] = 22
student

{'name': 'Rahim', 'age': 22, 'city': 'Dhaka', 'gpa': 4.5}

In [24]:
student.keys()

dict_keys(['name', 'age', 'city', 'gpa'])

In [25]:
student.values()

dict_values(['Rahim', 22, 'Dhaka', 4.5])

In [26]:
# removing a key-pair value
del student["city"]
student

{'name': 'Rahim', 'age': 22, 'gpa': 4.5}

# Formatted (f) strings

In [27]:
name = "Nabiha"
score = 93
print(name,score,sep='-')

Nabiha-93

In [28]:
print(name, "scored", score, "marks")

Nabiha scored 93 marks

In [31]:
print(f"{name} scored {score} marks")

Nabiha scored 93 marks

In [36]:
name, age = 'Alif' , 13
print(f'name of the student is {name} and his age is {age}')

name of the student is Alif and his age is 13