### Print function

In [1]:
print("Hello World")  # first program in python

Hello World

In [2]:
name = "Sultana"
print(name, "learning python")

Sultana learning python

In [1]:
print('Moly','Joly')

Moly Joly

In [2]:
print('Mimi','Moni','Lipi', sep=',', end= '......')

Mimi,Moni,Lipi......

In [3]:
print("Hello", "Nabiha", end = "******")

Hello Nabiha******

In [4]:
print('Hello Gullu', end= '\n')
print("Good morning")

Hello Gullu
Good morning

In [6]:
print('Sultana \nParveen')

Sultana
Parveen

In [7]:
print('Sultana \t Mahfuza \t Parveen')

Sultana 	 Mahfuza 	 Parveen

In [8]:
num = 22.56
print(type(int(num)))

<class 'int'>

In [9]:
num2 = 87
print(type(float(num2)))

<class 'float'>

In [11]:
my_list = [1,2,3]
print(my_list)

[1, 2, 3]

In [12]:
print(type(my_list))

<class 'list'>

In [16]:
my_list2 = [1, 'Raju', 'Banu', True, 2.33]
print(my_list2)

[1, 'Raju', 'Banu', True, 2.33]

In [17]:
my_list2.append('Gullu')
print(my_list2)

[1, 'Raju', 'Banu', True, 2.33, 'Gullu']