In [2]:
## from pydataset import data

In [3]:
## mimport pandas as pd

In [4]:
mtcars = data('mtcars')
mtcars.head(5)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [6]:
mtcars.columns

Index(['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear',
       'carb'],
      dtype='object')

In [9]:
mtcars.shape

(32, 11)

In [ ]:
# mtcars.sample

In [ ]:
mtcars.info

In [12]:
mtcars.dtypes

mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

In [15]:
mtcars.tail(3)

                mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
Ferrari Dino   19.7    6  145.0  175  3.62  2.77  15.5   0   1     5     6
Maserati Bora  15.0    8  301.0  335  3.54  3.57  14.6   0   1     5     8
Volvo 142E     21.4    4  121.0  109  4.11  2.78  18.6   1   1     4     2

In [17]:
mtcars.tail(-25)

                 mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  carb
Fiat X1-9       27.3    4   79.0   66  4.08  1.935  18.9   1   1     4     1
Porsche 914-2   26.0    4  120.3   91  4.43  2.140  16.7   0   1     5     2
Lotus Europa    30.4    4   95.1  113  3.77  1.513  16.9   1   1     5     2
Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.5   0   1     5     4
Ferrari Dino    19.7    6  145.0  175  3.62  2.770  15.5   0   1     5     6
Maserati Bora   15.0    8  301.0  335  3.54  3.570  14.6   0   1     5     8
Volvo 142E      21.4    4  121.0  109  4.11  2.780  18.6   1   1     4     2

In [19]:
mtcars.duplicated().sum()

np.int64(0)

In [20]:
mtcars.isnull().sum()

mpg     0
cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    0
vs      0
am      0
gear    0
carb    0
dtype: int64

In [21]:
mtcars.notnull().sum()

mpg     32
cyl     32
disp    32
hp      32
drat    32
wt      32
qsec    32
vs      32
am      32
gear    32
carb    32
dtype: int64

#### Read/Write to CSV

In [22]:
mtcars.to_csv('mtcarsdata.csv',index=False)
mtcars2 = pd.read_csv('mtcarsdata.csv')
mtcars.head(2)

                mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Mazda RX4      21.0    6  160.0  110   3.9  2.620  16.46   0   1     4     4
Mazda RX4 Wag  21.0    6  160.0  110   3.9  2.875  17.02   0   1     4     4

#### Read/Write to Excel

In [23]:
mtcars.to_excel('mtcarsdata.xlsx',index=False)
mtcars3 = pd.read_excel('mtcarsdata.xlsx')
mtcars3.head(2)

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110   3.9  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110   3.9  2.875  17.02   0   1     4     4