In [1]:
import numpy as np
import pandas as pd
from pydataset import data
import os
import matplotlib.pyplot as plt
import seaborn as sns
import random

### Random

In [4]:
print(random.random())        # any random value 0 and 1

0.3958920023071173

In [5]:
random.randint(100, 2000)     # any random integer between 100 and 2000

606

In [6]:
random.randrange(11, 90, 2)    # random even number between 11 and 90

35

In [7]:
my_list = ['apple','orange','grape']
random.choice(my_list)

'grape'

In [11]:
my_list2 = [10,15,20,25,28,30,40]      # changes order
random.shuffle(my_list2)
print(my_list2)

[10, 25, 40, 20, 28, 15, 30]

In [27]:
random.sample(['red','blue'], counts=[5,2], k=4)     #create 6 values of red and 2 values of blue, in random order, total 8.
                                                     # k <= len(seq)

['blue', 'red', 'red', 'red']

In [19]:
random.sample(['book','pen'], counts=[3,1], k=3)

['book', 'book', 'book']

In [22]:
random.sample(['Dalia','Faria','Maliha','Nabila'], k=3)    # without replacement

['Maliha', 'Dalia', 'Nabila']

In [26]:
random.choices(['banana','lichi'], k=3)                    # with replacement

['banana', 'lichi', 'banana']

In [2]:
df = data('mtcars')
df.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [29]:
df.dtypes

mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

In [3]:
df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [6]:
mpgvalues = df.mpg.sort_values().to_list() 
mpgvalues[0], mpgvalues[8], mpgvalues[16] , mpgvalues[24], mpgvalues[31]  #16,24,32]]  #32 : min(0), max(32), 25% (32/4=8), 50%(16), 75%(24

(10.4, 15.5, 19.2, 22.8, 33.9)

### Calculating Mean, Median, Mode :

In [31]:
df.mean(axis=0)       # column-wise

mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [32]:
df.mean(axis=1).head()    # row-wise

Mazda RX4            29.907273
Mazda RX4 Wag        29.981364
Datsun 710           23.598182
Hornet 4 Drive       38.739545
Hornet Sportabout    53.664545
dtype: float64

In [33]:
df.median(axis=0)

mpg      19.200
cyl       6.000
disp    196.300
hp      123.000
drat      3.695
wt        3.325
qsec     17.710
vs        0.000
am        0.000
gear      4.000
carb      2.000
dtype: float64

In [37]:
x = [1,2,3,3,4,5]
np.median(x)

np.float64(3.0)

In [38]:
random.shuffle(x)
print(x)

[5, 3, 4, 3, 2, 1]

In [4]:
from scipy import stats

In [5]:
df.mode()

    mpg  cyl   disp     hp  drat    wt   qsec   vs   am  gear  carb
0  10.4  8.0  275.8  110.0  3.07  3.44  17.02  0.0  0.0   3.0   2.0
1  15.2  NaN    NaN  175.0  3.92   NaN  18.90  NaN  NaN   NaN   4.0
2  19.2  NaN    NaN  180.0   NaN   NaN    NaN  NaN  NaN   NaN   NaN
3  21.0  NaN    NaN    NaN   NaN   NaN    NaN  NaN  NaN   NaN   NaN
4  21.4  NaN    NaN    NaN   NaN   NaN    NaN  NaN  NaN   NaN   NaN
5  22.8  NaN    NaN    NaN   NaN   NaN    NaN  NaN  NaN   NaN   NaN
6  30.4  NaN    NaN    NaN   NaN   NaN    NaN  NaN  NaN   NaN   NaN

In [8]:
df.gear.value_counts()

gear
3    15
4    12
5     5
Name: count, dtype: int64

In [9]:
df.carb.value_counts()

carb
4    10
2    10
1     7
3     3
6     1
8     1
Name: count, dtype: int64

In [10]:
df.cyl.mode

<bound method Series.mode of Mazda RX4              6
Mazda RX4 Wag          6
Datsun 710             4
Hornet 4 Drive         6
Hornet Sportabout      8
Valiant                6
Duster 360             8
Merc 240D              4
Merc 230               4
Merc 280               6
Merc 280C              6
Merc 450SE             8
Merc 450SL             8
Merc 450SLC            8
Cadillac Fleetwood     8
Lincoln Continental    8
Chrysler Imperial      8
Fiat 128               4
Honda Civic            4
Toyota Corolla         4
Toyota Corona          4
Dodge Challenger       8
AMC Javelin            8
Camaro Z28             8
Pontiac Firebird       8
Fiat X1-9              4
Porsche 914-2          4
Lotus Europa           4
Ford Pantera L         8
Ferrari Dino           6
Maserati Bora          8
Volvo 142E             4
Name: cyl, dtype: int64>

In [11]:
df.cyl.value_counts()

cyl
8    14
4    11
6     7
Name: count, dtype: int64

In [12]:
import statistics as stats

In [13]:
x1 = [1,2,2,3,4,4,4,5,5,5,5]
x1

[1, 2, 2, 3, 4, 4, 4, 5, 5, 5, 5]

In [14]:
max(set(x1), key=x1.count)

5

In [15]:
stats.mode(x1)

5

In [16]:
print('multi mode of list is', stats.multimode(x1))

multi mode of list is [5]

In [17]:
x2 = [1,1,2,2,3]
x2

[1, 1, 2, 2, 3]

In [18]:
stats.multimode(x2)

[1, 2]